<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="nagoya.kuxu.keyakisuite" android:versionName="2" android:versionCode="2">
	<uses-sdk android:minSdkVersion="21" />
	<application android:label="KEYAKI Suite" android:theme="@style/MyTheme" android:icon="@drawable/ic_launcher"></application>
</manifest>